@{
    ViewData["Title"] = "Lista de Contatos";
}
<h1>@ViewData["Title"]</h1>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nome</th>
            <th scope="col">Email</th>
            <th scope="col">Contato</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark Otto</td>
            <td>mark@gmail.com</td>
            <td>(47) 99999-2220</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a type="button" asp-controller="Home" asp-action="Editar" class="btn btn-primary">Editar</a>
                    <a type="button" asp-controller="Home" asp-action="Deletar" class="btn btn-danger">Deletar</a>
                </div>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob Thornton</td>
            <td>jacob@gmail.com</td>
            <td>(47) 99999-2220</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a type="button" asp-controller="Home" asp-action="Editar" class="btn btn-primary">Editar</a>
                    <a type="button" asp-controller="Home" asp-action="Deletar" class="btn btn-danger">Deletar</a>
                </div>
            </td>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry the Bird</td>
            <td>larry@gmail.com</td>
            <td>(47) 99999-2220</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a type="button" asp-controller="Home" asp-action="Editar" class="btn btn-primary">Editar</a>
                    <a type="button" asp-controller="Home" asp-action="Deletar" class="btn btn-danger">Deletar</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>