@{
    ViewData["Title"] = "Deletar contato";
}

<div class="text-center">
    <h1 class="display-10">Tem certeza que deseja excluir este contato?</h1>
    <hr />
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <a type="button" class="btn btn-danger">Apagar</a>
        <a type="button" asp-controller="Home" asp-action="Contatos" class="btn btn-success">Voltar</a>
    </div>
</div>

