@{
    ViewData["Title"] = "Editar contato";
}

<div class="text-center">
    <h1 class="display-10">Editar contato</h1>
</div>

<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Nome</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Escreva seu nome">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Email</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Escreva seu e-mail">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Contato</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Digite seu número de contato">
</div>